*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form{
    margin-top: 40px;
}

input, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button{
    background-color: #111827;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    border-radius: .75rem;
}

button:hover{
    background-color: #374151;
}

.message{
    background-color: #374151;
    padding: 16px;
    color: #fff;
    display: none;
}

.message-container{
    text-align: center;
}
