*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: black;
    color: grey;
    padding: 16px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li{
    padding-left: 8px;
    padding-right: 8px;
}

header a{
    text-decoration: none;
    color: grey;
}


header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.articles article img{
    height: 180px;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#politics,
#culture{
    background-color: beige;
}

.articles article a{
    background-color: #555;
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s;
}

.articles article a:hover{
    background-color: #007bff; /* Cor de fundo no hover */
    color: #fff; /* Cor do texto no hover */
}
